#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: darkslategray;
  height: 95vh;
  color: black;
  position: relative;
}

.game {
  position: relative;
  margin: 0 auto;
  /* height: 80vh; */
  max-height: 80vh;
  /* background-color: white; */
  /* padding: 0 10px; */
  display: grid;
  aspect-ratio: 9 / 16;
  place-items: center;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.base-container {
  display: flex;
  flex-direction: column;
}
.player2 {
  flex-direction: column-reverse;
}

.base {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid {
  width: 89%;
  /* background-color: rgb(255, 255, 255); */
  display: grid;
  /* height: 100%; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px;
  place-items: center;
  /* height: 450px; */
  aspect-ratio: 9 / 16;
}

.tile {
  width: 100%;
  aspect-ratio: 1;
  color: white;
  background-color: rgb(46, 86, 35);
  border-radius: 10%;
  border: 1px solid rgb(105, 108, 105);
  cursor: pointer;
}

.tile.active {
  background-color: rgb(255, 179, 141);
}

.tile:disabled {
  background-color: rgb(29, 54, 22);
  opacity: 0.7;
  cursor: auto;
}

.tile:hover:not(.active):not(:disabled) {
  background-color: rgb(160, 93, 59);
}

.planes, .buildings {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.planes .selected, .buildings .selected {
  border: 2px solid rgb(255, 179, 141);
}


